@keyframes fadein{
	0%{
		visibility:hidden;
		opacity:0;
	}
	1%{
		visibility:visible;
		opacity:0;
	}
	100%{
		visibility:visible;
		opacity:1;
	}
}

@keyframes fadeout{
	0%{
		visibility:visible;
		opacity:1;
		height:auto;
	}
	99%{
		visibility:visible;
		opacity:0;
		height:auto;
	}
	100%{
		visibility:hidden;
		opacity:0;
		height:0;
	}
}

@keyframes fadein2{
	0%{
		visibility:hidden;
		opacity:0;
		height:0;
	}
	49%{
		visibility:hidden;
		opacity:0;
		height:0;
	}
	50%{
		visibility:visible;
		opacity:0;
		height:auto;
	}
	100%{
		visibility:visible;
		opacity:1;
		height:auto;
	}
}
