%fadein{
	animation:fadein 0.15s linear;
	opacity:1;
	visibility:visible;
}
%fadein2{
	animation:fadein2 0.30s linear;
	opacity:1;
	visibility:visible;
}
%fadeout{
	animation:fadeout 0.15s linear;
	opacity:0;
	visibility:hidden;
	height:0;
}