%fadein{
	animation:fadein $animation-fade-duration linear;
	opacity:1;
	visibility:visible;
}
%fadein2{
	animation:fadein2 $animation-fade-duration*2 linear;
	opacity:1;
	visibility:visible;
}
%fadeout{
	animation:fadeout $animation-fade-duration linear;
	opacity:0;
	visibility:hidden;
}